{% extends 'base.html' %} 

{% block body %}

<div class="container">
    <div class="logreg-box">
        <div class="form-box login">
            <div class="form-content">
            <form method= "POST" action="">
                <h2><strong>Login</strong></h2>
                <div class="input-box center">
                    <span class="icon"><ion-icon name="mail" style="color: white;"></ion-icon></span>
                    <input type="email" required>
                    <label class="opacity-100" for="email">E-mail</label>
                </div>

                <div class="input-box center">
                    <span class="icon"><ion-icon name="lock-closed" style="color: white;"></ion-icon></span>
                    <input type="password" required>
                    <label class="opacity-100" for="password">Senha</label>
                </div>

                <button type="submit" class="btn btn-light" style="text-align: center;">Entrar</button>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}